<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoML</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <input type="file" id="fileInput" accept=".csv">
    <br>
    <button id="uploadButton">Upload CSV</button>
    <br>

    <p id="message"></p>

    <div id="results"></div>
    <br>
    <label for="trainingRatio">Training Ratio:</label>
    <br>
    <br>
    <input size="100" type="number" name="Ratio Train" id="trainingRatio" placeholder="Enter training ratio" step="0.01" min="0" max="1"  style="width: 180px;">
    <label for="testingRatio">Testing Ratio:</label>
    <br>
    <br>
    <input size="100" type="number" name="Ratio Test" id="testingRatio" placeholder="Enter testing ratio" step="0.01" min="0" max="1" style="width: 180px;">
    <br>
    <br>
    <label for="features">Features</label>
    <input
        type="text"
        id="features"
        placeholder= "age, income, height, weight"
    >

    <label for="target">Target</label>
    <input type="text" id="target" placeholder="target">
    <label for="taskType">Type of Task</label>
    <input type="text" id="taskType" placeholder="e.g., classification, regression">
    <br>
    <em >the ratios should add up to 1 </em>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>